.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: azure;
    height: 280px;
    margin-top: 80px;
}

.grid-1{
    display: flex;
    flex-direction: column;
}

.grid-1 .nav-list{
    display: flex;
    gap: 8px;
}

.grid-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.grid-3 .footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.nav-list p a{
    list-style: none;
    color: black;
    font-size: 18px;
}

.footer-icons a{
    color: black;
}
.social-media-icons{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.social-media-icons:hover{
height: 35px;
transition: 0.3s all ease;
}

@media only screen and (max-width:868px){
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: azure;
        height: 600px;
        margin-top: 100px;
    }
}