.main {
    width: 100%;
    margin-top: -70px;
    /* background-image: url('C:/Users/Ashish/Desktop/Tiffome React/tiffome/public/Assets/background-tiffin.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    
  }
  
  h3 {
    padding-top: 90px;
    font-size: 6vw;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    display: flex;
    margin-left: 55px;
  }
  
  .input {
    display: flex;
    align-items: flex-start;
    margin-left: 55px;

  }
  
  .input .address {
    height: 60px;
    width: 550px;
    font-size: 20px;
    border: none;
    margin-top: 35px;
    padding-left: 1rem;
  }
  
  .input .drop-down {
    margin-left: 15px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    border: none;
    margin-top: 35px;
    padding-left: 1rem;
  }
  
  .find-food {
    margin-left: 15px;
    height: 60px;
    width: 100px;
    font-size: 20px;
    border: none;
    margin-top: 35px;
    color: white;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #small-text {
    margin-left: 55px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
  }
  
  #small-text a {
    color: rgb(0, 0, 0);
  }
  
  #small-text a:hover {
    color: rgb(235, 235, 224);
  }
  
  #small-text span {
    margin-left: 5px;
  }
  
  .find-food:hover {
    background-color: rgb(68, 63, 63);
  }
  
  @media only screen and (max-width: 768px) {
    .input {
      flex-direction: column;
      align-items: flex;
      justify-content: center;
    }
      .address {
        width: 100%;
        max-width: 300px;
      }

      .main{
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }

      #small-text{
        width: 80%;
      }
    }
    
    
