.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  color: white;
  font-size: 20px;
  height: 100px;
  top: 0;
  position: sticky;

}

.logo {
  color: black;
  margin-left: 25px;
  font-size: 35px;
  cursor: pointer;
}

.header-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-right: 80px;
  color: black;
  cursor: pointer;
  font-size: 28px;
}

.logout{
  height: 40px;
  width: 105px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.hamburger-menu ul li{
  list-style: none;
}
.hamburger-menu ul li a{
  list-style: none;
  color: black;
}
.bar-icon {
  cursor: pointer;
  height: 25px;
  width: 20px;
  margin-right: 40px;
  color: black;
}

@media only screen and (max-width: 770px) {
  .header-list {
    display: none;
  }

  .navbar {
    height: 80px;
  }

  .header-list.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    width: 40%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    border-radius: 15px;   
    min-width: 250px; 
    margin-top: 20px;
    margin-left: 25px;
  }

  .header-list.show li {
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
  }

  .header-list.show li:hover {
    transition: 0.5s all ease;
    font-size: 25px;
  }

  .buttons {
    display: flex;
  }

}

@media only screen and (min-width:770px) {
  .bar-icon {
    display: none;
  }
}