.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(223, 220, 220);
  color: white;
  font-size: 20px;
  height: 100px;
  top: 0;
  position: sticky;
}

.logo {
  color: black;
  margin-left: 25px;
}

.header-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-right: 80px;
  color: black;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons li {
  padding: 0 18px;
  list-style: none;
}

.buttons li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}


.buttons .sign-in a {
  color: white;
}

.log-in {
  height: 40px;
  width: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: none;
  background-color: white;
}

.log-in:hover {
  background-color: rgb(196, 197, 197);
  transition: 0.8s all ease;
}

.sign-in {
  height: 40px;
  width: 105px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: rgb(0, 0, 0);
}

.bar-icon {
  cursor: pointer;
  height: 25px;
  width: 20px;
  margin-right: 40px;
  color: black;
}

.header-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-right: 80px;
}


@media only screen and (max-width: 770px) {
  .header-list {
    display: none;
  }

  .navbar {
    height: 80px;
  }

  .header-list.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    width: 40%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    border-radius: 15px;    
  }

  .header-list.show li {
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
  }

  .header-list.show li:hover {
    transition: 0.5s all ease;
    font-size: 25px;
  }

  .buttons {
    display: flex;
  }

}

@media only screen and (min-width:770px) {
  .bar-icon {
    display: none;
  }
}